@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {

  background-color: black; /* Enforce dark background */
  color: white; /* Enforce light text */
}

.dark-mode {
  background-color: black !important;
  color: white !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 3s ease-in-out;
}

.fade-out {
  animation: fadeOut 3s ease-in-out;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px; /* Adjust the size as needed */
  height: 60px;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference; /* This inverts the color */
  background-color: white;
  z-index: 1000; /* Ensure it's above other elements */
  transform: translate(-50%, -50%);
}